@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
  --logo-h: 1.875rem;
  --logo-h-md: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
@media (width < 62.5rem) {
  html {
    scroll-snap-type: none;
  }
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  background-color: #fd5f8d;
  animation-name: bg-change;
  animation-timeline: scroll();
}
@media (width < 62.5rem) {
  body {
    animation-name: bg-change-margin;
  }
}

@keyframes bg-change {
  0%, 8.3333333333% {
    background-color: #fd5f8d;
  }
  16.6666666667%, 25% {
    background-color: #fff;
  }
  33.3333333333%, 41.6666666667% {
    background-color: #00c1b5;
  }
  50%, 58.3333333333% {
    background-color: #ff651a;
  }
  66.6666666667%, 75% {
    background-color: #ffbe00;
  }
  83.3333333333%, 91.6666666667% {
    background-color: #1d3fbb;
  }
  100% {
    background-color: #e30512;
  }
}
@keyframes bg-change-margin {
  0%, 8.3333333333% {
    background-color: #fd5f8d;
  }
  16.6666666667%, 25% {
    background-color: #fff;
  }
  33.3333333333%, 41.6666666667% {
    background-color: #00c1b5;
  }
  50%, 58.3333333333% {
    background-color: #ff651a;
  }
  66.6666666667%, 75% {
    background-color: #ffbe00;
  }
  83.3333333333%, 91.6666666667% {
    background-color: #1d3fbb;
  }
  100% {
    background-color: #e30512;
  }
}
img {
  display: block;
}

.fixed {
  position: fixed;
  z-index: 2;
}
a.fixed, .fixed a {
  color: currentcolor;
}

.fixed p {
  margin-block: 0;
}
.fixed--pos-tl {
  top: var(--fixed-m-y);
  left: var(--fixed-m-x);
}
.fixed--pos-tr {
  top: var(--fixed-m-y);
  right: var(--fixed-m-x);
}
.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
}
.fixed--pos-bl {
  right: calc(var(--fixed-m-x) + 4rem + 6.25rem);
  bottom: var(--fixed-m-y);
  left: var(--fixed-m-x);
}
.fixed--role-logo {
  height: var(--logo-h);
  aspect-ratio: 519/58;
}
@media (width < 47.5rem) {
  .fixed--role-logo {
    height: var(--logo-h-md);
  }
}
.fixed--role-contact {
  font-weight: 700;
  text-decoration: none;
}
@media (width < 62.5rem) {
  .fixed--role-contact {
    display: none;
  }
}
.fixed--role-contact:hover {
  text-decoration: underline;
}
.fixed--role-list {
  padding-left: 0;
  margin-block: 0;
  line-height: 1.8rem;
  text-transform: capitalize;
  list-style: none;
  transform: rotate(180deg);
}
@media (width < 62.5rem) {
  .fixed--role-list {
    display: none;
  }
}
.fixed--role-list > li {
  transform: rotate(180deg);
}
.fixed--role-list > li > a {
  text-decoration: none;
}
.fixed--role-list > li > a:hover {
  text-decoration: underline;
}
.fixed--role-about {
  max-width: 30ch;
  font-weight: 700;
  text-wrap: balance;
}
@media (width < 62.5rem) {
  .fixed--role-about {
    display: none;
  }
}
.fixed__copyright {
  font-size: 0.75rem;
  font-weight: 400;
}
.fixed__copyright > a:hover {
  text-decoration: none;
}
.fixed__policy {
  display: block;
  margin-top: 1lh;
}
.fixed__policy:hover {
  text-decoration: none;
}

.wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.issue {
  scroll-snap-align: center;
  display: grid;
  grid-template-rows: minmax(calc(2 * var(--fixed-m-y) + var(--logo-h)), 1fr) auto 5lh minmax(calc(2 * var(--fixed-m-y)), 0.5fr);
  grid-template-columns: minmax(var(--fixed-m-x), 1fr) minmax(0, 26.25rem) minmax(var(--fixed-m-x), 1fr);
  min-height: 100svh;
}
.issue__img {
  grid-row: 2;
  grid-column: 2;
  justify-self: stretch;
}
.issue__text {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}
.issue__title {
  margin-block: 0;
  font-weight: 700;
  text-transform: capitalize;
}
.issue__link {
  margin-block: 1lh 0;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  position: relative;
  display: none;
}
@media (width < 62.5rem) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    padding-inline: var(--fixed-m-x);
    padding-bottom: var(--fixed-m-y);
  }
}
@media (width < 35rem) {
  .footer {
    flex-direction: column-reverse;
    gap: 1lh;
    align-items: center;
    justify-content: center;
  }
}
a.footer, .footer a {
  color: currentcolor;
}

.footer__contact {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
  font-weight: 700;
  text-decoration: none;
}
.footer__contact:hover {
  text-decoration: underline;
}
.footer__about {
  max-width: 30ch;
  font-weight: 700;
  text-wrap: balance;
}
@media (width < 35rem) {
  .footer__about {
    max-width: unset;
    text-align: center;
  }
}
.footer__copyright {
  font-size: 0.75rem;
  font-weight: 400;
}
.footer__copyright > a:hover {
  text-decoration: none;
}
.footer__policy {
  display: block;
  margin-top: 1lh;
}
.footer__policy:hover {
  text-decoration: none;
}