@import 'https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap';

$middle-w-mx: 1200px; // 변수 만드는 방법
$middle-p-x: 24px;
$middle-gap: 64px;
$sidebar-w: 280px;
$main-gap: 32px;
$card-w-mn: 250px;

body {
  font-family: 'Radio Canada Big', sans-serif;
  color: #10284b;
}

.middle {
  padding-inline: $middle-p-x;

  &__wrapper {
    display: grid;
    grid-template-columns: $sidebar-w auto;
    column-gap: $middle-gap;
    max-width: $middle-w-mx;
    margin-inline: auto;
  }
}

.sidebar {
}

.main {
  display: grid;

  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(
    auto-fit,
    minmax($card-w-mn, 1fr)
  ); // 화면 크기에 따라 그리드 줄바꿈 (최소값이하가 되면 줄 바꿈)

  gap: $main-gap;

  // for dev
}

.header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content;
  grid-column: 1 / -1;
  gap: 8px 48px;

  &__title {
    grid-row: 1;
    grid-column: 1;
    font-size: 3rem;
    font-weight: 900;
  }

  &__description {
    grid-row: 2;
    grid-column: 1/-1;
    font-weight: 1.25rem;
    line-height: 1.875rem;
  }

  &__view-all {
    display: block;
    grid-row: 1;
    grid-column: -2;
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    color: #381fd1;
    text-transform: uppercase;
    text-wrap: nowrap;
  }
}

.cards {
  display: grid;
  grid-template-columns: subgrid; // 부모의 그리드 속성 인계
  grid-column: 1 /-1;
  grid-auto-rows: 1fr;
  gap: $main-gap;
}

.card {
  display: grid;
  overflow: hidden;
  border-radius: 0.5rem;

  &--type {
    &-a {
      gap: 12px;
      padding: 24px;
      border: 0.0625rem solid #cbcbcd;
    }

    &-b {
      > * {
        grid-row: 1;
        grid-column: 1;
      }

      .card__title {
        margin: 32px;
      }

      &:nth-child(2) {
        background-color: #f3f2fc;
      }

      &:nth-child(3) {
        background-color: #f6f6eb;
      }
    }
  }

  &__icon {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 0.0625rem solid #cbcbcd;
    border-radius: 8px;
  }

  &__category {
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #381fd1;
    text-overflow: ellipsis;
    text-wrap: nowrap; // 줄바꿈 없게 하고, overflow-x로 넘치는 부분을 ..처리한다.
  }

  &__title {
    display: -webkit-box;
    height: 3lh;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.65rem;
    color: #10284b;

    // card의 title이 튀어나온 부분은 ... 처리할 수 있게 한다.
    -webkit-line-clamp: 3; // 몇줄까지 보여줄 것인지 설정
    -webkit-box-orient: vertical;
  }

  &__bg {
    align-self: end;
  }
}
